html, body{
    position: absolute;
    width: 1920px;
    height: 1080px;
    background:url("/page4/img4/image\ 36.jpg");
}

.header__border {
    position: absolute;
      width: 1820px;
      height: 960px;
      left: 50px;
      top: 70px;
      border: 0.5px solid #BDBDBD;;
  }
  

  .header
  .header_rect{
    position: absolute;
    width: 1920px;
    height: 198px;
    left: 0px;
    top: -6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 19.05%,
     rgba(0, 0, 0, 0.6) 63.22%, rgba(0, 0, 0, 0.1) 
     88.58%, rgba(0, 0, 0, 0) 100%);
  }
  
  .header__menu {
  position: fixed;
  width: 30px;
  height: 30px;
  margin-left: 100px;
  margin-top: 55px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  }
  /*
.openbtn {
position: relative;;
width: 30px;
height: 30px;
left: 80px;
top: 35px;
font-size: 20px;
cursor: pointer;
background-color: rgb(252, 252, 252);
color: rgb(158, 152, 152);
padding: 10px 15px;
border: none;
}

.openbtn:hover {
  background-color: rgb(252, 252, 252);
}

#main {
  transition: margin-left .2s;
  padding: 16px;
}
*/
/*На небольших экранах, где высота меньше 450px, 
измените стиль sidenav (меньше отступов и меньший размер шрифта)*/
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


  .header__logo {
      position: absolute;
      width: 242px;
      height: 85.68px;
      margin-left: 196px;
      margin-top: 45px;
  }

.header__text_way{
  text-decoration: none;
 position: absolute;
width: 257px;
height: 41px;
left: 547px;
top: 48px;
font-family: Open Sans Condensed;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 41px;
text-transform: uppercase;
color: #FFFFFF;
}

.header__text1.header__text1_kyibysh  {
    position: absolute;
    width: 315px;
    height: 41px;
    left: 1480px;
    top: 48px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FAFAFA;
  }

  
  .header__keyboard{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1720px;
    top: 58px;
  }



  .sidebar {
    height: 1080px;
    width: 500px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.12);
  }
    /*
  style="position: relative; 
  width: 500px;
height: 1080px; background: #FFFFFF;
box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.12);"*/

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #070000;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #140000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
