html, body{
    position: relative;
    width: 1920px;
    height: 1080px;
    background:url("/page4/img4/image\ 36.jpg");
}

.header__border {
    position: absolute;
      width: 1820px;
      height: 960px;
      left: 50px;
      top: 70px;
      border: 0.5px solid #BDBDBD;;
  }
  

  .header
  .header_rect{
    position: absolute;
    width: 1920px;
    height: 198px;
    left: 0px;
    top: -6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 19.05%,
     rgba(0, 0, 0, 0.6) 63.22%, rgba(0, 0, 0, 0.1) 
     88.58%, rgba(0, 0, 0, 0) 100%);
  }
  .header__menu {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 100px;
  margin-top: 55px;
  }
  
  .header__logo {
      position: absolute;
      width: 242px;
      height: 85.68px;
      margin-left: 196px;
      margin-top: 45px;
  }

.header__text_way{
 position: absolute;
width: 257px;
height: 41px;
left: 547px;
top: 48px;
font-family: Open Sans Condensed;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 41px;
text-transform: uppercase;
color: #FFFFFF;
}

.header__text1.header__text1_kyibysh  {
    position: absolute;
    width: 315px;
    height: 41px;
    left: 1480px;
    top: 48px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FAFAFA;
  }

  
  .header__keyboard{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1720px;
    top: 58px;
  }
