body {
position: relative;
Width: 1920px;
Height: 1080px;
background-color: #FAFAFA;

}
.border {
    position: absolute;
    width: 2030px;
    height: 960px;
    margin: 61px;
    margin-bottom: 81px;
    border: 0.5px solid #BDBDBD;
}
.menu{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 100px;
    margin-top: 45px;
    border: 1px solid gray;
}
.logo {
    position: absolute;
    width: 242px;
    height: 85.68px;
    margin-left: 196px;
    margin-top: 35px;
}

.text {
position: absolute;
width: 468px;
height: 82px;
margin-left: 194px;
margin-top: 197px;
font-family: "Open Sans Condensed";
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 41px;
text-transform: uppercase;
color: #000000;
}

.section {
    display: flex;
    flex-direction: row;
}

.bar1 {

position: absolute;
width: 320px;
height: 320px;
margin-left: 139px;
margin-top: 351px;

}
.bar1-1 {
    position: absolute;
    width: 208.84px;
    height: 43.69px;
    left: 50px;
    top: 296px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;  
}
.bar1-2 {
position: absolute;
width: 320px;
height: 150px;
left: 10px;
top: 385px;
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #000000;
}

.bar2 {
position: absolute; 
width: 320px;
height: 396px;
left: 585px;
top: 351px;
}

.bar2-1 { 
position: absolute;
width: 156px;
height: 43px;
left: 80px;
top: 296px;
font-family: Open Sans Condensed;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 41px;
text-align: center;
text-decoration-line: underline;
text-transform: uppercase;
color: #000000;
}

.bar2-2  {
    position: absolute;
    width: 320px;
    height: 175px;
    left: 5px;
    top: 385px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.glass {
    z-index: 1;
    position: absolute;
    width: 320px;
    height: 553px;
    margin-left: 1000px;
    margin-top: 287px;
    }
 
.degust {
position: absolute;
width: 156px;
height: 43px;
left: 100px;
top: 380px;
font-family: Open Sans Condensed;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 41px;
text-align: center;
text-decoration-line: underline;
text-transform: uppercase;
color: #000000;
}


.image-man {
 
    position: absolute;
    width: 685px;
    height: 775px;
    margin-left: 1300px;
    
    margin-top: 159px;
    opacity: 0.8;
}