
.input__tel{
position: absolute;
width: 300px;
height: 40px;
left: 49px;
top: 149px;
border: 1px solid #A8A7A7;
box-sizing: border-box;
border-radius: 50px;
}

.input__button{
    position: absolute;
     width: 170px;
     height: 40px;
     left: 360px;
     top: 150px;
     background: #E53935;
     border-radius: 50px;
}